/*
 * Default Body Styles
 */
body {
	margin: 0;
	color: #222;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.25em;
}

p {
	margin: 0.25em;
}

h1 {
	font-size: 24px;
	line-height: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 18px;
	line-height: 1em;
	margin-top: 1em;
	margin-bottom: 0.25em;
}

em {
	color: #900;
}

.info-up {
	color: #5daa35;
	font-weight: bolder;
}

.info-down {
	color: #9c210c;
	font-weight: bolder;
}

.info-key-header {
	color: #2e3865;
	font-weight: bold;
	text-align: right;
	padding-right: 4em;
	white-space: nowrap
}

.info-key {
	color: #2e3865;
	text-align: right;
	padding-right: 4em;
	white-space: nowrap
}

/*
 * Scaffolding
 */

.hide {
	visibility: hidden;
	display: none;
}

#container {
    display: flex;
    height: 100vh;
}

#content{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#menu {
    width: 200px;
    flex: none;
    background-color: #444444;
	font-family:  monospace;
	font-size: 12px;
	font-weight: 100;
}

.content-pane {
	display: none;
	margin: 10px;
}

.content-pane.active {
	display: block;
}

/*
 * Left side menu
 */
#menu .items {
    margin: 0;
    padding: 0;
}

/* Clickable Menu Items */
.menu-item {
	width: 100%;
	line-height: 3em;
	list-style: none;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.menu-item a {
	margin-left: 1.5em;
	color: white;
	text-decoration: none;
	cursor: inherit;
}

/* Menu Labels */
.menu-title {
	width: 100%;
	line-height: 3em;
	list-style: none;
	font-weight: 400;
	background-color: #2e3865;
}

.menu-title span {
	margin-left: 1.5em;
	color: white;
	text-decoration: none;
	cursor: inherit;
}

.menu-item.active {
	background-color: #555555;
}

.menu-item:hover {
	background-color: #555555;
}

.menu-item.active:hover {
	background-color: #666666;
}

/* Non-clickable Menu Items */
.menu-label {
	width: 100%;
	border-top: 1px solid #333;
	line-height: 3em;
	list-style: none;
	font-style: italic;
	font-weight: bold;
}

.menu-label a {
	margin-left: 1.5em;
	color: white;
	text-decoration: none;
}

/* The status item */
.status {
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.status-updating {
	background-color: #32B433;
}

.status-disconnected {
	background: #333333; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#333333, #444444);
    background: -o-linear-gradient(#333333, #444444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333333, #444444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333333, #444444); /* Standard syntax */
	background-color: #333333;
}

/*
 * Console Display
 */
#console {
	background-color: #222222;
	color: #ebebeb;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
	font-size: x-small;
	border-left: 1px solid black;
	flex: 1 1 auto;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 0px;
}

#console .content {
	padding: 10px;
	white-space: pre;
	cursor: text;
}

#console-header {
	padding: 10px;
	font-weight: 400;
	background-color: #222222;
	color: #cccccc;
	text-shadow: 1px 1px black;
}

.loglevel-info { color: #B5D837; }
.loglevel-debug { color: #80CCBA; }
.loglevel-error { color: #E85169; }
.loglevel-warn { color: #E6D369; }
.loglevel-websocket { color: #E85377; }
.loglevel-shell { color: #A491FD; }

.progressbar {
    border: 1px solid #444;
    /*font-size: 14px;
	background-color: #444;*/
    color: white;
    background-color: #aaaaaa;
   /* padding: 0.5em 1em;*/
    text-align: left;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.25em;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20em;
    height: 1em;
}

.progressbar .fill {
	background-color: #2E3865;
	width: 0%;
	height: 100%;
	position: relative;
	transition: width 0.3s ease 0s;
}
/*
 * Forms
 */

input[type="text"], input[type="password"] {
	display: inline-block;
	border-radius: 0.25em;
    display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid #aaa;
}

input.long {
	width: 50em;
}

select {
   background: transparent;
	border-radius: 0.25em;
	padding: 0.5em;
	border: 1px solid #aaa;
	box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font-size: 14px;
}

select.disabled {
	display: none;
}

fieldset {
    min-width: 100px;
    display: inline-block;
    border: none;
}

fieldset input{
    float: right;
}

fieldset label{
	line-height: 100%;
		padding: 0.5em 1em;
}

fieldset p {
    margin-bottom: 2px;
}

button {
	font-family:  Verdana, Geneva, sans-serif;
    border: none;
    font-size: 14px;
	background-color: #444;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    display: inline-block;
    border-radius: 0.25em;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button.disabled {
	pointer-events: none;
	opacity: 0.5;
	cursor: not-allowed;
}

.btn-blue {
   background-color: #2e3865;
}

.btn-green {
	background-color: #5daa35;
}

.btn-red {
	background-color: #9c210c;
}

.btn-orange {
	background-color: #dd8728;
}

.btn-purple {
	background-color: #542D92;
}

#btn-console-clear {
	color: #9c210c;
	cursor: pointer;
}
#btn-console-copy {
	cursor: pointer;
}

/*
 *  Table Styles
 */

table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	cursor: pointer;
}


tr:nth-child(even) {
	background-color: #eeeeee;
}

/*tr:hover {
	background-color: #dddddd;
}*/

td {
	padding: 0.25em;
}


.cell-value {
	width: 100%;
}
.info-value {
	font-style: italic;
}
/*
 * Modal Dialog
 */
#modal {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #666;
    width: 50%; /* Could be more or less, depending on screen size */
    min-width: 350px;
    border-radius: 5px;
}

#modal-buttons {
	text-align: right;
	width: 100%;
}

#modal-title {
	font-size: 20px;
	font-weight: bold;
}

#modal-text {
	margin: 2em;
}
/*
 * Misc Body Styles
 */

#message-no-message {
	text-align: center;
	padding: 20px;
	border: 1px dashed #666666;
	border-radius: 10px;
	color: #666666;
}

#message-noupdate-ap {
	color: #e00;
}


#message-console {
	transition: all 0.3s ease 0s;
}

.update-controls {
	display: none;
}

.update-indicator {
		transition: all 1s ease 0s;
}

.updates-available {
	color: #B5D837;
}
