body {
	background-color: #444444;
	color: white;
	transition: all 1s ease 0s;
	font-family: "Fira Sans", Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

a {
	color: white;
}

a:hover {
	color: #cccccc;
}

.status-idle {
	background-color: #444444;
}

.status-busy {
	background-color: #2e3865;
}

.status-success {
	background-color: #386620;
}

.status-failed {
	background-color: #9c210c;
}

#spinner {
	margin-top: 10%;
	position: relative;
	text-align: center;
}

#content {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

#title {
	font-size: 20px;
	font-weight: 500;
}

.fa-10x {
	font-size: 10em !important;
}

.fa-spin-5x {
	-webkit-animation: fa-spin 5s infinite linear;
	animation: fa-spin 5s infinite linear;
}
.logdl {
	text-decoration: none;
}